<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-11" />
    <add key="mainForm.Location.Y" value="-11" />
    <add key="mainForm.Width" value="1942" />
    <add key="mainForm.Height" value="1030" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="minMenuItem" value="true" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAFuZYrywO/KeBwPDgf8zzv1ngIATzj8XTuKEsaczCqkygdkH/k9ia2eEid99fYYFxm7269RhgKpx1NgMUZPwyvlsfyITTA2L+0S4mVVrzThh6hf7noCb2dfqt5URKv7x0DS4uK/VJnOY+lCRKXDzZeemwM2f0p8AZ7s4Q8WBahh3J8HFrS0RbD9phJpVzQi93heC+GDsSSfj4WqOpyD0fugOgKvplE+Eq/kngFDj69gH9++Ug0lwNYfnIcJk9cPb4jA284lkuBotjxY4e8FilU5VqN+LjWrg4uZSCHPUfyP8cm0jeyEsvoS7ZsLDMK55uhBMfFvCPrg4AO/7k/8EAgAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAFuZYrywO/KeBwPDgf8zzv1ngIBpLj8XTuKEsaczCqkygdkH/k9ia2eEiU9USoMIM3i4aH2Asae5LFXv1GGAqnfU2AxXf/HaJ24Y++4dM06YGge5E3A13Wv8tjJCxb/MngYX97XaZA5THyoyBS6+UecoC4zt4pwCdUOVC+PuJCj7hHPLzRNOMLZbAUxczKVSIxmupn3LdQEYe8FilU5VqF3FRjVwf5lLJcL9q/47Ba732kb2Qlj4CHfNZISZH9c8XQgmvi1hH1wcAH9np750AQAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAFuZYrywO/KeBwPDgf8zzv1nAIF8oWbrnwsnccLYMzWEVJnAMgf+T7jfxggT3y10lgXGXqreqcMAVeOosRmu5uK1T9ww9t07ZpwwNQ5yJ+Bqutf4bWWEin+ZPQ0u7mu1yRymPlRkClz8QOCnRBg7+ZNKpypUzYbH1Uww8TjRY3C3XdvIXghzv3DXTLg5cc3ThWDi2xL2wcUB5ZJJURQBAAA=" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAGvtNl7YHXnPg4HhwP89y/8zQECD3a8biUww9kOhNCibwf6neyaMzaCalwgXn6khpArhHPg/4X4bI0x8ohJMr4O91ge4OQxL1Tt1GKDqHTU2w9Wf7YebycDiPpETxr57x4wTpt5B7gQjzG3da/y2MkLFv8yeBhO3L0jcZA5Tb/R2MlT8gL3s3BS4+ZU5nLEwtpZHC9y/yZ9UOlWhejc8roaKSziaS8HcZuCg/htmzgL7axvZC2F+F+6aCfdLXPN0IZj4toR9cHEAKFO8IHQBAAA=" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADtvWLmwO/KeBwPDgf9+s9frMzGAwIH/zDYXjRig7L/Vt8Vg7PBLYtsZoeyELz6WMPFWrmOmINYi23VOHhUx21Wh4uzrX5TDzJzxWEEExgYAtMbG0HgAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEADWSXUhTYRzGjxluCdkalWkM5kdWVIoWUQb2QBdFjS5rmfRha66gFGdmFyWNJWsbGWiykPKDIpPAUaEz5nG+5yw3m1QSY0itOdC6yQuJCKGP9f7PztXvPDz/5/mf97zXK/P6XCfjhwUh8Hf8uTdDSD0LMT8ezptW/GfLSz966s2ctbN+ZP24wLnFIqIseY7z+wMBGPQXi/lLKse5VMZxofk1ckwWzp4lH7KLabYz4cPUp+R2QfFP6qq5XlUk4ZeWejUOGYdidZwTmjc4parlPOOZRIWXei/tCKE9+zzn6HQID2z31OnMXQevcN27HMHMqv5XGYr+LXZ0X9oTF6q4x2kNQZdP+bNyGHMfKdMcDuFJEXX5ngaxM5P2dz8LIj5MHn9TELuPKLv1ylgcIzb0yNg2SJzsljE0QOzukpFjJF7ZIeNWPuU0umV8LSR9o12Ga5R6bVYZiS2kl16WUdFK/LNOgl5DXFsuwVJJ5+bTSZgYodkXuRJaNlF+jVZCm4H008sMrg2k68cY1syd5Xz8HUOJkm+aYmgYp/PvDzK0G2l2UGTwRsmzdYShtYPYF2AY3UN8zMEQVhMXWhmmc2m3kmYGfRblNDYx9Kloh4iZ4Y6dWL16An+Ue+W1ifhyjXYzPhIhFpBnb7eI+rWK/76IM5+pa9Eh4m6M9JttIjQD1Nv1WIQ5T+XcnOLeDwHc6PwtpO/A1eqCTP7v3kZQc5u6hsuDsM8r3+KRsf77iYb03S6N7l+X5n8FhhZaPAMAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEADWSX0hTYRjGz5LcMrAVaWkIM1cSosaxIhf0XHTRSInushV1LLV5UQoRLUi0Wqs5aNo69mdn0/X3IJ7axTIHpSuETCoiYoyweRSsBf0jCrwxy/N+51z9zsPzPe/zvXynbQUR3760neMS8yMDUQP3/5OlGEIzDYsWuI9/hN6WJo1nr8WQ/btRY+HgA1RO12vMGe6j1tJspZ/EfOevSg1l6zByG5waq5tHkWOlsz/bRjE+MV3GMf+LIoem208EMbuC5nKqiJ2poxonnvix33iYOkhe8FGae333RfhzjmicGXPjxrkuk55ZteM45ZQ58W7JrZiB6ZlUTbXuSXPbNc9q3oOiQspPfe3A1HvKlD+4cbeEZgn13SjPov5mRzfSg+TZU34Fm3axbmdEfH9KbD4vYkM/8VCXiIcy0++JyK0j3hgTcbaQclxvRHxeS7r6Q4QvTnO38j1QS0m/VNMDvp3YKdyExczybUE4bbQ3wRvEs8d01hUJwrWG8t8OBuGpJX0sX4Ivn/TE0hCWTQm0w+cS1rP8aFJC6wjtf+iLBH8d2/niEKJJ8vSVhNAeIBbmJMS3EJsmQ3hpYt2qwni9irrJpWFYslm3ijAiRupgbgzD6ya2vLqNv+xddfxRMHmKuqkeBcPF5BECClqWM/+AgkMf2X4mFFxOkW7/pMAs09zMMQVNBcbOdQv3jd9B29U5Tn8DJx3FWdqbjDTjwAWa5awOwD3D7tIrIu/b3lb9bVckt63U+R9YroxaPAMAAA==" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEALu7+++C7sh7HgwMB/5Ha59hZACCxYdtnOY+TWECsUW0FZzWuqaB2UnTRZ1+yELY/1bIOek/SgSzGQK0nERc/FUgnAP/bRo9wcwKO2ensq4MMPtBA4OThncqmF3WouuUr3VamwGqXulCIVg8Z4ai0w8hiL13xFWc3G+kg9kOknxO0exJYHbfZiGn5VUQe7/nvXb8yJ4MZt/gYXcS6W7mgJl5M64aLH5ER8pptnPHFkao+JPH3pYwNd86wsFqpslyOjFaQcx/LvLL0fEqxMy5Ht8dI0Uhdtnsv+hY+BLitusnjzr0PoOo+RPf6XDbAaL3lHKIQ/szCNvPZZ29UyWEHRSQ6zDtJoTtdHWhA18EhM3AIObQ8ATKdpjjcFYJJv7LXmABxN5VE5sdysoh4jrbtzgY1UPYUvMTHBQEIOxff/UdbkLDDegb+4D70HhhOGFfIQ1xp3vlMXvF7wlg9r6JwQ6MhhBxDvetDmFPIOKhoeaOJ+MgZr4MUHfc+R4S/mmcfI5/HSFmuhnKOrLfhqi5wXncYeI0mJvXO8zLhbILpjiyX4So1+ASdHQUg7ity7bAMc8e5rYqh4XQuGNIYHNcIwBlR61xvB0GMzPR4X45xG2nN11xWHkDIt4lm+sw5RZMzTQHbxao3gYlhxsMULtklRyKNkLY6tOSHCdqf+9UBQUz10fHXYofGGBpIPWRHTOI9cFwnVNMK8SuadcyHZ03Qs0/sMJhwWnPAljaduuyFYGxAUtx8QE8AwAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEALu7+++C7sh7HgwMB/5Ha59hZAAC68+yTnOfpjCB2AweXE5rXdPA7Buegk4/ZCHsjXulnfQfJULURBg67RYIUIFwDvyfusUDzPSZ4e5U1pUBZn9jV3TS8E4Fs/NquZzytU5rM0DVK10oBItPEd/u+EMIYm/C/ExH9xvpYPYKv3WO0exJYLbI0zmOy6sg9t57vNLxI3symC24Yq3jg7QWDpiZvM1VYPFbp2Y6xu/o2MIIFQ/l9rGEqTn4JgysZrOMvBOjFcT8xmUMTo5XIWZ2xs50jBSF2MXjeNKh8CXEbV8Nmxx6n0HUyHyxcrjtANFbN9vDof0ZhB1xuNzeqRLC1vFWdph2E8K+wynqwBcBYTMwTLNveAJhT0hdb39WCSa+3l5gAcTe3nYuh7JyiHhTwH0Ho3oIe1W5iIOCAIT98vdJ+5vQcHMoc7MPuA+NFwYP+wppiDsVTnvYK35PALPn7rFyYDSEiC95+8Ah7AlEXMHDy/FkHMRM1jYFx53vIeH/JpTb8a8jxEw3Q1lH9tsQNRVKxx0mToO62eG5w7xcKLtgiiP7RYh6DS5BR0cxiNum5BQ75tnD3LbeYSE07hgWhDuuEYCwoxT2O94Og5rTsMjhfjnEbSmSJxxW3oCIp6QvcphyCxZWJxy8WaDmMFQ53GCA2HWnM8ehaCOEndTe5DhR+3unKpB9SfKW4y7FDwywNJD6yI4ZHIaT1jnFtELsulXb4ui8EWb+L/tDnzwLYGlbJdlWBMYGANTXI4I8AwAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEALu7+++C7sh7HgwMB/5Ha59hZAACgU99jnOfpjCB2CGxpx3WuqaB2X0Hmh1+yELYlgpXHPQfJYLZf+J0HO+bB6iAOUBzCns9wMz/S+KcyroywGwW48uOGt6pYLaa5SnHfK3T2gxQ9UoXCsHiU65zOP4QgtgLAu430sHsJsNFDtHsSRBxh+cOy6sg9v7iMnT8yJ4MZj+RYHV8kNbCATOTt7kKLN65z9cxfkfHFkaoeCi3jyVMzcE3YWA1xzOtnRitIOanfrJ0crwKMZPhwh/HSFGIXV35WxwKX0LcduSchUPvM4gat1VzHG47QPRuFz5m3/4M6k4GDzunSgh7QqO1w7SbELaI9QN7vggIW4F5vX3DEwhb5/R6+7NKUPVz19kLLIDYeyz9j31ZOUS8c3Gng1E9hH3jyTF7BQEIu4HnhP1NaLgpWIvaB9xPhLpBzL5COhkenorfE8Ds6TeO2TMaIsSTmuykYOw1AhBxraVb7G+HJcHV2Bu85YaxizZC7LL/scFhovb3TlUge9KNQ467FD8wwMI29ZEdM4jFwb/WKaYVYu97QV1H540wM0/YH/rkWQBLMxZdtiIwNgDEijmYlAIAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEALu7+++C7sh7HgwMB/5Ha59hZACC1V6vHeY+TWFigIIrrnrsMPZ98wAViMSB/4W9HmCm0hpTx7KuDDB7ysQrDhreqWC2rMBGh5Ldp7UZoOpl7QvB4vP2rLP/IQQz38PO/UY6jG0fzZ4Et3d5VSKc/ZE9Gcw+Ivvd/kFaCwfMTN7mKrC4i4SDQ/yOji2MUPFQbh9LmJqDb8LAai7d0XVitIKY/+W1o6PjVYiZpnZPHSJFIXblMDxyKHwJcZvGtosOvc8galTUWhxKMiF6HdhO2L/bC2GfsDxt51QJYZ8uanaYdhPCnntDxIEvIgnur4YnUPaBfoezSjDxE3YCC6D2XtR3KCuHiJsnNjsY1UPY6nbr7BUEIOyJyQYON6HhJmI91T7gPix8xOwrpCHu9HtTZq/4PQHMXmIj6sBomAwPw1mnQ3Vh7Ina3ztVgfR2152OuxQ/MMDCKvWRHTPYDZXrnWJaIeY4sBQ7Om+EuXmaA7uUVwEsDXxOshWBsQG9BzxCTAIAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEALu7+++C7sh7HgwMB/5Ha59hZACCLeu1HOY+TWFigIKlyWdYYGz9R4lg8QYdb7v75gEqEEUH/hf2eoCZl76wOpR1ZcD1aningtnmka4OJbtPazNA1cvaF8LVGJV+4oaxH6S1cMDU8DZXwdU8uN+xhREqfuWxtyVMzcE3YWA1T+I4nRitksDsPuYMR8eryWC2SHWMY6QoxM2/7G47FL6E+CuJXc6x9xlEzcb0PQ4lmRC9TIWiDu/2QtjHZEQcnCoh7KQZJxym3YSwRayPO/BFJEHdtt6+4QmUfaDf4awSTPyE/aPjEHulmLoclvhDxA1trzgY1UPVNCg5KAhA2DqnEx1uCkHcNv3GFPuA+4lQczzsKqSTYWx7xe8JYHaRfr8Do2EyPHzCniTA2SfjkuB6d75Ph4sfmqGlBmNP1P7eqQqkr9VfcNyl+IEBFp6pj+yYQSxx3zVOMa0QM1kMGx2dN8LMrHJgl/IqgMX75yRbERgbACVPjdtMAgAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEALu7+++C7sh7HgwMB/5Ha59hZACCHXOY7OY+TWFigIIrrnrsMPZ98wAViMSB/4W9HnA1ZV0ZcLaGdyqYXfDB0b5k92ltBqh6WftCqJoTdj+EEOZbJfVxwtgP0lo4YOp5m6vAanQ2XbB7cL9jCyNU/Mpjb0uYmoNvwsBqlES5nRitksDsfwXyjo5Xk8Fs64tajpGiiWD28YuSjoUvIfYmPH/l0PsMosZGWsCxJBOiV9aky+HdXgj7TtwcB6dKCNtz9WeHaTch7Buc6xz4IiDsE+cSHBqeQNgMDs0OZ5Wg7AYlh0fHIfY6a75wWOIPERc9+MDBqB7CbsnqdFAQgLB/2M51uAkNkztvpjoE3Ifo7ZLNdaiQhrhz27ZOB8XvCWD2jKc3HRgNk+FhOOt0qC6MPVH7e6cqkPZTP+e4S/EDAyysUh/ZMYNYi7VXOcW0QsyxfNzh6LwR6mYFBkd2Ka8CWPx+TrIVgbEB4bsKACgCAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAD2SS0gbYRSFJyqmIIja2kVmJo7RiqgQH2A0iJ05IhYrWChogwqTJr5BtEh9bMxGQYsLQbJTElSkoAWhdCEIs2hw0y6FaMAEiYJQCnWjFCS2zr0zq28u595z/vv/Zc1Po598568EwcgUf/lmE/5/OrBxGcx6ZEXDfvuQyREVdzJxSIX7wm+yriEcC5abP0bmMNNAGi8+royQxovK14M0xwt/NFktkL7WN2DWVS/uisg31YSO+DCxB3329zTTg9158o148McesOpd7tUnPDN6OEVxmvB3evOrjepj953NrNkegOU74aD5QiO0E5qZqoevmLyUWkxdUzajBqtXpFGrMD1KvWolfh8xVwBzxKlyhE85fxny3zG7EEqzrws/Xdxbiotj8jUUbHdzXUH9AnGkBEoB95bglPcWcuJNkjM7MStSTkNG6a1OGhm2Os4voydNdUFGYokzS9g9pv2HJNxrfovtCdIoEtbCnEHCTuv3HGbtOe9KxMRL7hUR5fvSRewVBCyvRA+fUUJyRrd6P8e5LmL9jL1E9NZQb8SBH3F+Aw58OAhamrXq2+UXjzkd+HWTYz6Bf/feUFiVbXIe+hfJK5WLtgOenwV37O0kv+et8ZZnzA8bY4bQMAMAAA==" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEANvXLrywO/KeBwPDgf9V8dsYGYBgcUm7/dynKUwgdty1MPv5+Wlgdsl3L3u2L6lgdvjRGHv9R4lgttC3LPunUqkqYA7QnI/fjcFMzV0n7PlSMsDsjoROey4ViN5Tnj32qh/uazNA1edwxYLF5xoG2v8Qgth74qqKvfuNdDD75BsN+2j2JDBb+amevdEGiL0fZHTt+7mSwez6Mgt75e89HDAzV54rBIsv2OBjz9sxbwsjVHyuirclTM07Myewmhe/ZBxkpSDmL3l92/7hFYiZeRfX2S9Vhtg17SWHvS4zxP0THFXt7m2DqIm6MMnOxAuid9m0ILt3eyHs/KN6dpqrIOwfN2Xs1q+AsGdXqNrxRUDYTabSdo1SEHO6Z821e64EEb/0WdqueyfE3lN5+XYP1KHmmzbbGdVD2D/FbO0UBCDsRmlZuwwrSLgtF9ayO7gdorfAVNWuQhpifs9qBbs2H4i419Vsu24xaLh5ctrxP0wAs5u//rJVg5q/SfKXbcF+SPhnRX607Y+A6M2o/mm74RpEzeUtf23rJ0PYiw2+2u40g7CfJFnaneSAsPVq/tqeFYe4TamZyU6BDWLOnvBXtgvZIW6I4Ki162yBsNdIfrf7B01Xnw5J2d0vh7gt6By/3T5FiJoapY+2+YIQtsTiP7bxdyF2zbBgtuu7ARFPOvbWVmAFxN6m/Wfs0iTZu1SB7J2l1xx263xlgKUB80OazCBW4J9Wh5hWiF25vwrtW55CzNRZv9KO435wASxtL8u2EYGxAXSrxqg8AwAA" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEADWSfUhTYRTGtz64klhiGbRMps5YzSVbI0l058wIw0Ua6UzS0soKCrMQNSHqj2WaCzLKKLWYFba+71aLJm6zKMGaYFDNVo3GhAU5nFCOYNR8z3b/+t2H5zzPue997eeXG7uqvm8TCJz/2vZZhYLooyxXY//UwQXz3CqT46Othxj71VIMryHeW6LAXF8d43upCpwS1UvYSzTn6P2NDIu/1mHzhSOMB5qUKNXWM9aGCzB7xisTxPzHltQwPTEsx3AK9f5dn4HF7sOMDQYJ7uH2M64WZeNgG/VGrkkwxB1gbBlbi9tzLybEM03jJ5ielbMBkzpuPhPG9H6JdnPco1tWxDzqmbvYIKL8W55O1HykzIChBatSqet2xSpclEL7p71xQv438lyvcIOqhGZ/FI5BcJg4eHwEik4R1yQ5oGeS2LTDDkt3x77FaIOzfmJVlgdcmcR9ARv4Rqm3t/Ed3Ckl/UbIBcozxJc+O0GcTPxbb4PJ2LmJdQ4o89Jsk34YWlfTnh3ldsiYq2Uc+vAWhArSrdLnoPOTrurhwdNOmdMcD4OjdP4JfgtENJRZ2GUGzkMeV7oZml3EtelP4OUm4jL3EHAT5O+beAqalbQb326BBiA9r5sHY+zf6WfH4WEy8Uglhx4d5fycfgHeFtqt12cBk5v00w94uPKF2O6wQGUOzZqHrPDeTSzeycNJnnr/XA1Ct2yuMzvKilk5BjSLhfE7kPdq3cJ5yn/tx+pz1BVJy8QtPOUnln4Cza9djfG7/fhywYo4/wd+Fv9DPAMAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAAu5JrywO/KeBwPDgf9PBLYxMgBBZvQXu7lPU5hA7HlBl+zWuqaB2XeNT9j9kIWwl0uct9N/lAhmL7Q/bNcxNVUFzAGawxFmDGZOe/vNziwlA8ze+m2DnYZ3KpjtIH7Hjt/+gTYDVH3T7hiwuMb7R3Y/hCD2rgx6b+d+Ix3Mjr59xi6aPQnMvjH1iN3yKoi9p9ats/vIngxmKygcttt9qJcDZqaVdSHErtoLdj1/521hhIprq3hbwtR4znIEq9mUvc0uTwpi/qab2+wcr0LMvP3gkF2kKMQu8RN9dixCEPcv9L5rY3UXomblKltbEy+IXk5Tedt3eyFs08/XbfgXQdjN60/ZnNwAYV+J+mDDFwFhm6QfsGl4AmGr7W6zPasEYT+ctdHm0XGIvS0q2rZL/CHin+VEbI3qIexIZ2ZbBQEIe9L73TY3oeFmcv6WTcB9iN7Ot3dsKqQh7tQwP2Wj+D0BzLbK57NlNISIT7bIsg17AhG/9bTK9nYbxEyeVh/b5cch4f88q8T2ryPUPYXetuy3IWomB8falp2FsBk4vG13mkHYLu5LbNkvQtSzSDTbOopB3HYqoNo2zx4iXlUQYbsQGndbyo7arhGAsC0M4+1uh0HMuZQ8wfZ+OcRt/Y3NtitvQMR3nou2nXILwo6uCbMN14HonTU/2fbMDQj71Ids26KNEHu3iUra6VV971QFsk+wTbb3/szCCEsD5oc0mcF2MRjax7RC7HptrW3nvBFifkZTp21yYkgBLG0fn2QjAmMDAHWdVec8AwAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAAu5JrywO/KeBwPDgf9PBLYxMgDB2imvXOY+TWGCsde6poHZencOufyQhbCrzz1w0X+UCGbz3jrl0jE1VQXMAZrDEWYMZv67eNPFLCUDzL7FfcFFwzsVzE6Y/MrlWe8DbQao+tU5MWBxYaBdP4Qg9lbyXHBxv5EOZi+5dNMlmj0JzH5x9oHL8qpEuPhH9mS4+t2HejlgZlpZF4LF5fpfufT8nbeFESqureJtCVPjOcsRrOZAMaOrSHKwLoyt+D0BLO5z860LoyHE/KRna1zCnkDEdy3f63K7DeIeIbnVLsuPQ9y5KGu7y19HiNsOLTjjwn4bombTunUuZWch7Kz7u112mkHYcx5udmG/mAg301EM4vdTfjtc8uwT4XoXsiPcsEYgGW7v7TCE+ffLE+DslTeS4GZOuZUE1xuukwwXP3MjGa6+aCPCXr2q752qQLbk6Rsu3p9ZGGFhZX5IkxnEyi9ldJ1vdpgFxq7vCCmAxfvqbBsRGBsAj7OEU1gCAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHumIrKwO/KeBwPDgf9Bh7YyMgDBB8G1dnOfpjCB2GlnNtmtdU0Ds035dtr9kIWwq5r32ek/SgSzV024ZdezJ1UFzAGaw6JvDGZqNTyxM0vJALOVrc7YaXingtnrszbZPet9oM0AVb86JwYs/iO/we6HEMTeYwHGdu430sFsg3++dtHsSWB2xuZku+VVEHu/Hky0+8ieDGZfetRgt/tQLwfMTCvrQrB4CW+eXc/feVsYoeLaKt6WMDWesxzBapR8r9nlSUHM/7z3sJ3jVYiZDrZ5dia2ELv+H7G31XwFcdti13Abq7sQNQsO6tiaeEH0TvY5YvNuL4R9KL7R5usyCPtekZ/N49UQttD+JBu+CAh7llu0zSweiDnXYoVsjytBxJm2Oducmw+xl8N7ns0Sf4h4+KUoW6N6CHv6xpk2CgIQdo2aq02GFcRth0QqbQ5uh+idxRxpUyENMf/jnDCbNh+IOAPLaZs5tyF6OQtm2oY9SQCzw/aW2J7bBhGvWNRvu2U6JPyPfU23/esI0ZsnPMGWHar3tlW3bdlZCFunvtt2pxmELfnrlC37RYj6xtW5to5iELcVXG+2zbOHiP8KL7VdCI07AQ0Ju4cxEHZsbL3dMi6IOcaaC23vl0Pcdtxgpu0+RYiaC3wNttYPIWoKTDttJ/NCxJ/Nn2h7ZTlUzaoM26KNEHtTLJzt9Kq+d6oC2af6JtkHO7EywtKAfrEmMzgN8NrYx7RC7Nqu4GXnvBFiflbSY5v6jpACWNpenW0jAmMDAPeCOLE8AwAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHumIrKwO/KeBwPDgf9Bh7YyMgBB9bkHLnOfpjCB2Iy8F1zWuqaB2QmLzrj8kIWwdwqedNF/lAhn9+xJVQFzgOaw6BtD1E9+5WKWkgFna3ingtn/Lt50edb7QJsBqn51TgxY/MXZBy4/hCD2VvJccHG/kQ5mC0955RLNngRmL7l002V5VSKc/ZE9Gcw+5r/DZfehXg6YmVbWhWBxrnM3XfxU5m9hhIpn/vWyhKnxnOUIVnOgmNFVJDlYF8Zu84GYH3Lpj8uc2xB7dy3f6xL2JAHMnvNws8u5bRDxUzNvu2yZDnFn0rM1Ln8dIXp9JDe5sEP1blq3zqXsLIR9aMEZl51mCDPZLybC2Y5iEL/PiTzhkmefCNe7EOpHkJqHMclwe5dxIcy/X54AV7NPMRlu17l3R1lg7CvLk+HqizZC7PoiddNFr+p7pyqQLXn6hovWRFZGWPhEqGgyg1j5pYyu880Os8DY9R0hBbC4Xp1tIwJjAwA+kZVaTAIAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAKsrFlnYHXnPg4HhwP9dxVsZGYBg7kEpu7lPU5hA7GveC2zXuqaB2Qm5CrY/ZCHsKQvW2uo/SgSzV++4Z9uzJ1UFzAGaw6JvDGZOWsRgH9KdAWYn67Tacamkgtnd5yvsnvU+0GaAql+dEwMW/6ly3vaHEMTeOREzLN1vpIPZXvr+ttHsSWB2bt9s2+VVEHv/sr+w/cieDGavKe+2fS7RxwEzk+9pAVjc/+VXWz+V+VsYoeKTVbwtYWrkix0hZnZ8tMuTgphv/53N3vEqxMyI08vtTGwhdl1w4bLVfAVxm1Cbp43VXYgaGxtTWxMviN4F0Ztt3u2FsM8o1NloroKwZ+jo26xfAWH3HOqw4YuAsH2eK9rM4oGYM73/mM1xJYi4xHoPm3PzIfaW/3lms8QfIu59/bmNUT2EfeB4iY2CAIRdc1jfJsMK4rZPy6JsDm6H6NXanGpTIQ0xf+8sT5s2H4h4nMBrmzm3IXrPTf5iEfYkAcy+v7nd4tw2iDgIbLx5ggXGZoeqT4qfZVl2FsK+/eC4xU4zCFs3rcHiJAeELVV1w6L+HsReuYoEizz7RLiZC6HxxZbbbfkwBsLWL0qxWcYF0bvpQqnl/fIEuPp9islw9nQuCLv1s7S1+ROI+n+RdWbrLyKpaYeEg1pBvu3eS786VYFst3l99p3tTIyweM+6qsEMYs28ZGwf0wqx66/HYduWpxAz/yz+YhNSHVIAS88nsmxEYGwAlF031DADAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAGN4J7KwO/KeBwPDgf8WP7cwMgABI+8Fl7lPU5hA7KN9y13WuqaB2c8e7Hb5IQth2wfscNF/lAhm7xQ86dKzJ1UFzAGaw6JvDGb+u3jTJaQ7A8y28t/hwqWSCmbPETjp8qz3gTYDVP3qnBiw+DGgmh9CEHvDgfa630iHi0ezJ8HFl1clwsU/sifD2c8l+jhgZvI9LQCLP/Te4eKnMh/iMaD4ZBVvS5ga+WJHsJoDxYyueVIQ89/xM7o6Xk2Gi6cW92rA2G0+EHv/CLxxmXMbol5IbrVL2JMEMDvp2RqXc9sg4odCV7psmZ4OF//rmAhXzw7Vu2ndOpeyswhzdpolwdWf5ECw6+9B3FPUu9wlzz4Rrnch1O8gNQ9jkuH2LuNCmH+/HOG2fYrJcLvOvTvKAmOvv4gwZ3p7CtycvZd+daoC2ZKnb7g4rWdihIXbxrUazCBWfimj64Oswywwdkh1SAEsDZzIshGBsQGusKqxZAIAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEANtrJbqwO/KeBwPDgf/Va7YwMgCBvNcE27lPU5hA7LXe6y3n56eB2Zdt+a3YvqSC2dvNP1vqP0oEs1Ps+ixTn6aqgDlAc7TZjMHMmdkfbEO6MyDqn3TbcqlA9CZNcLZ91vtAmwGqfnVODFj80rccmx9CEHu5Fv+1dL+RDmb/i/9sHc2eBGZPsz9jubwKYm+lvrTVR/ZkMDs8eo7Nc4k+DpiZfE8LwOKnfrDYZhfNh3gMKO7118sSpuZxsSNYjaDkY7trnyBmunSx2Wn8gZjpan3L1lcMIp6x39xW8xXEbTZHp9tY3YWoKaxgtDXxgrit2vCQzbu9ELYid7+N5ioI+/rbRJv1KyBspfuzbPgiIOx78l02s3gg5rjnBNgeV4KIz3Lotzk3H2Jv0moh2yX+EPEl33bbGNVD2N84F9soCEDNX3nGJsMK4ra8rE6bg9sheiP85thUSEPMn6/dYdPmAxHXY5tj0y0GEW/73mWVvjIBzLZodrQ6tw1i5pM/+VYF+yHhHy8badUfAdEbHRRjteEaRE0Qc5xV/WQIO+RimtVOMwhbhyvM6iQHhO0vEml1VhzitilLvKwU2CDmnEpJtFoIjTuDPdFWnS0QdpiortU/aLpiEgmxul8OcdvhbgOrfYoQNYdSU6zyBSHsVa2BVvF3IXYduudn1XcDIv5snanVjgaIvavKLK3YQ9i6VIHsBJEe+x+63xlgaWDjWg1mECt0k4l9TCvErrcx0nYtTyFmWlc72oZUhxTA0nZyvY0IjA0ARXZh1jwDAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEANtrJbqwO/KeBwPDgf/Va7YwMgCByIZ1LnOfpjDB2PPz08DseK3dLmxfUuHi+o8S4ezUp6kqYA7QHG02YzBTZv06l5DuDDibSwWiV3fFXpdnvQ+0GaDqV+fEgMUfa+52+SEEsXchUP2i+ydZYOzlVYlwNR/Zk+Fqnkv0ccDM4XtaABbfs2SvS3bRfIhngOJef70sYWoeFzuC1RwoZnStsQ7WhbHbfCDm+9x869ItBjH/icZul/SVCRA/Lj7ucm5bEly8YH86mL1p3ToXB6bX3DD2WfEUuBoFtkS4Go18DXYY+355AlzNPsVkuJp8QQQ7/i7ELlGgvX03EOI7GlLgbPYQti5VINvL9anLD93vDDA/blyrwQxi5Zcyuj7IOswCY4dUhxTA4ii53kYExgYAoWyi/gQCAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAGNcKrqwO/KeBwPDgf/mTlsYGYBgguwCm7lPU5hA7J1qZy3n56eB2WssuKzYvqSC2a7Opyz1HyWC2S5lXyxTn6aqgDlAc7TZjMFMo9NzbEK6M8Ds9CfrLLlUIHrnXl1i86z3gTYDVP3qnBiw+NUGFasfQhB7d916bul+Ix3MnniOxSqaPQnMXiS5wXJ5FcTey7ISVlIOyWC256mVlvse9HLAzOR7WgAWfzdH0yq7aD7EY0Bxax9vS5iaTyqOYDVPKo7YyUpBzH8/w8Tu4RWImTG2Vna+YhC77l6ptdV8BXHb42uMtlZ3IWqiphrbmnhB9B6NUbJ9txfCftzw10ZzFYTdXCJvu34F1PzVr2z4IiDsJaUvbWbxQMzp+1lke1wJIs5y+6vNpOMQe1PfK9s+UIeIM/Ga2RrVQ9i299htFQQg7GNTn9pkWEHcNjmG1fbgdoje8jgW2wppiPkyza9s2nwg4kd+hth2i0HExa74WfE/TACzfartrdSg5m8Q8rEq2A8Jf74ca6v+CIjevkhPqw3XIGo2PbGxqp8MYfd8CbbaaQZhT+X3sDrJAWFvF7S0OisOcVvEbD8rBTaIORei7K0WskPccGxdoFVnC4S91lfC6h80XV3542l1vxzitu+dOlb7FCFqBA4ZWuULQtjZuw2s4u9C7Gp9aGDVdwMiLrkr3EpgBcTeE9nSVmmS7F2qQPbHhh77z/3fGGBp4H+cBjOYFaRjH9MKsauiWMmu5SnEzBk+Vbami0IKYGm7KcJGBMYGANQKXME8AwAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAGNcKrqwO/KeBwPDgf/mTlsYGYAgR361y9ynKUwgtsiGdS7z89PA7Hit3S5sX1Lh4vqPEuHs1KepKmAO0BxtNmMwU2b9OpeQ7gw4m0sFold3xV6XZ70PtBmg6lfnxIDFH2vudvkhBLF3IVD9ovsnWWDs5VWJcDVSDslwNfse9HLAzOF7WgAWX/54jUt20XyIZ4Di1j7eljA1n1QcwWoOFDO61lgH68LYbT4Q831uvnXpFoOY/0Rjtwv/wwSIHxcfd1GrT4KLF+xPB7M3rQO64ZAaO4y90wyiZs7DzS4nOSDspGdrXM6Kp8DNUWBLhOvVyNeA671fngA3f59iMlxNviCCHX8XYqYo0Jy+GwhxgRUpcHaaJHuXKpDt5frU5XP/NwaY3//HaTCDWPmljK4Psg6zwNimi0IKYHH3sdlGBMYGAEtqyAccAgAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAGNcKrqwO/KeBwPDgf/mTlsYGYBgFssHq7lPU5hA7F8WsZbz89PAbJtSYUu2L6lgtpa9haX+o0Qwm0X6gkXq01QVMAdoTqGuMZh5xFfGii8lAyIMBFwqEL1szfetn/U+0GaAql+dEwMWP2jxwPqHEMRexloOS/cb6WD29SdTLKLZk8DsfnMHS6MNEHvnVD+36OdKBrOFzsdb8vH0ccDM3LezACxufei2dXbRfIjHgOIxxd6WMDUX/zqA1QiyHLKTlYKYv1RX2O7hFYiZF2dx2y1VhtjlE9tjq8sMcT9zSYHtvW0QNfbPFtiaeEH0frqdbftuL4TN5t9iq7kKwnbfEWa7fgWEXXgv1pYvAsI26im2bZSCmOOlOdn2uRJE/GhUoW33Toi9gmt6bB+oQ8R/JU+0NaqHsH2uttkqCEDYb6UTbDOsIOHm86za9uB2iN5l2im2FdIQ84N0a2zbfCDiRfkTbbvFkuHxwv8wAc5Wg5r/c/Iey4L96XDx/giI3n973S03XEuCi9dPhrBXf2613GkGYe+sX2BxkgPCXvPnvMVZcYjb2lruWyiwQcwp5T9hsZAd4gYOPXfLzhYI2/n+QYt/0HSls5LZ8n45xG0fWw5Y7FNEuDlfEMLu2CVmGX8X4Z6+GxDxna3WlgIrUuDiaZLsXapAeg9vr/3WCd8ZYGnANk6dGcR6/EfXPqYVYpe+hLFdy1OImYdDTto6nAwpgKXtF/E2IjA2APUgVxI8AwAA" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEADv8WXRhd+Q9DwaGA/9LP29mZACCHPnVLnOfpjCB2CIb1rnMz09jgomzfUmFi+s/SoSzD/KkqYA5QHNE2YzBTJn161z4UjLgbC4ViF7dFXtdnvU+0GaAql+dEwMW/yO32uWHEMTehUD1i+6fZIGxjTZA7KovWuHSz5UMV8PH08cBM2ffzgKw+PLHa1y+zZi/hREqftHH2xKm5uJfB7CaA8WMrjXWwbowdpsPxHyfm29dusUg5v96sMSF/2ECmH0odKWLWn0SmC0EdGfB/nQwe9O6dS77Dqmxw9g7zSBqkp6tcTnJgWCfFYf4q6h3uYsCWyJcr0a+Blzv/fIEuPn7FJPhavIFEez4uxAzlY4udem7gRAXWJECZ6dJsnepAtmVVlddtk74zgDzu22cOjOIlV/K6Pog6zALjO1wMqQAFncv4m1EYGwANFv5+BwCAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEADWSb0hTYRjFry22NWjZP2PGYNpSIkKYEljRh1OklYRUlFpkrmUTIi0NRxSiWOAGKrQPGaXtsr33zYUbEaahy0DMIgti1IJaulgZQbGIKGjVfJ/tfvrdw3nOeXh5hiWDx1UdLZekiX8dH4NZUuqz2j24GbctWuBD5R4MNNYLtjZ4oP5xUnB8XEZRrE7wRKUXFaYGs/hJ5Ti/FwlcXDsAvc0uOH9lP3Rmmh1T9ePp29hGKe1/bKwRemia4dcK6h35raAsckpwy+7bOKKxCm6+NghLkHr7cvzo0Z0Q3HvLj76OXm0ms3jHGaEbLQG8XCLfy0rr85G9pRlPVNouPLYDfhhzKf9u8x3MhSlz6oYfvnXU5f7GsUlF+5sTHNFh8kiTHCV7aDam5/g6TuxeyrFhkJjrOAKc2KDm0FcRr1ZxtOdSTmtSwad80g/+VOAapd6CeQWzhaSHYgosbcQXVApM2cThMIN9C72bepLh0X2anQ0xONZSfuUDhisVpL/wMbhySHecZVg2d1ywtp2hIJ3//CJD00N6/zEHQ08VzU6fYwi+Is+x0wxtV4m7WhhGNxPv38nwREtcamGYWUO7PSthMKkpp7qYwaOhHYYKGbo6iQslH/6m72pfWMb7Vtot8UVGKI88uz7LaFxO/OeDjNp31OV9I6M7Qnr3axnZnHrLEjLqDRrn+hTXzXhxyZ2UMjdwviZPtUB6XQBHL1PXiJOjM06Z1zUcmqnDTZnb3pbcuirD/wFhvV5yPAMAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="375" />
    <add key="treeView.Columns.Value.Width" value="150" />
    <add key="treeView.Columns.Min.Width" value="150" />
    <add key="treeView.Columns.Max.Width" value="150" />
    <add key="listenerPort" value="8085" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAHM99mdBd+Q9DwaGA/8/K5xlZACCT29mOM59msIEYl95Ge641jUNzL47wd/xhyyEre6e7Kj/KBHMXtrc5Cji4q8C5gDNsWn0BDM5Dt13LOvKALNbJvY4aningtmzTKY55mud1maAqle6UAgWZ3RwcfwhBLG34paIo/uNdDBbO1/DMZo9CczeE6fpuLwKYm/eXBXHj+zJYDarg76jSHczB8zMm3HVYPFLua6OEjIdWxih4vFPvC1hav6tD4eoWSHtxGgFMf9S8GFHx6sQM38JTneMFIXYtaVMxbHwJcRtL64fceh9BlEjz7PMoSQTovftBx2Hd3sh7Bkfr9s7VULYKt8mOEy7CWGnbi5z4IuAsEU+PLBveAJhb38X43BWCcL+d+Sw/aPjEHtvrC5wWOIPET/NuNPBqB7CttFSc1AQgLBz3c0cbkLDbcWs0/YB9yF6u0zm2VdIQ9zpd3eTveL3BDDbzCDFgdEQIv4kjd0h7AlE/FJng8PJOIiZS5fEOOx8Dwn/m1OsHf46QsxknB7owH4boqZwJ4vDxGkQ9rIsdod5uRD2mldHHdgvQtTfSXJ0cBSDuG2rxUKHPHuIOAPDCfuF0LgLDs10WCMAYRff+OlwOwxiTlTodvv75RC3pczkdFh5AyJ+xW+3/ZRbMDUv7b1ZIHoZGjrtbzBA7Cp91GJftBHCZuA+4DBR+3unKpDp8OeC4y7FDwywNJD6yI4ZxFrsvdYpphViV4NuoaPzRqhfstod9Ds8CmBpuyvCTgTGBgAUHNRSPAMAAA==" />
  </appSettings>
</configuration>